/**
* Colors
 */
$bodyColor: rgba(224, 242, 241, 0.6);
$color1: rgba(0, 158, 61, 0.99);
$color2: #FFFFFF;
$color3: #c4ffbe;
$color4: #777777;
$color5: #eeeeee;
/**
* Typo
 */
$primaryFont: 'Source Sans Pro';
$secondeFont: 'Cabin Condensed';