{% if app.session.flashBag.has('valid') %}
    <div class="myFlash">
        <div class="close">
            <i class="fa fa-times"></i>
        </div>
        <div class="content">
            {% for message in app.flashes['valid'] %}
                {{ message }}<br/>
            {% endfor %}
        </div>
    </div>
{% elseif  app.session.flashBag.has('error') %}
    <div class="myFlash">
        <div class="close">
            <i class="fa fa-times"></i>
        </div>
        <div class="content">
            {% for message in app.flashes['error'] %}
                {{ message }}<br/>
            {% endfor %}

        </div>
    </div>
{% endif %}